.row {
  margin-top: 40px;
  margin-bottom: 50px;
}

body {
  font-family: "Courier New";
  line-height: 1.4;
  font-size: 14px;
}

body a {
  color: initial;
}

body a:hover, body a:focus {
  color: hotpink;
}

body h1 {
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}

body h1 a {
  color: hotpink;
}

body h1 a:hover, body h1 a:focus {
  text-decoration: none;
  color: hotpink;
}

body h1, body h2, body h3 {
  color: hotpink;
}

body h2 {
  font-size: 20px;
}

body h3 {
  font-size: 16px;
}

body img {
  margin-top: 25px;
  margin-bottom: 25px;
  margin: auto;
}

body ul {
  margin-top: 30px;
  margin-bottom: 60px;
  text-align: center;
}

body ul li {
  padding: 2.5px 0;
}

body p span {
  font-style: italic;
}

.ficha-tecnica {
  font-size: 12px;
  margin-bottom: 40px;
  width: 38%;
  float: right;
  text-align: right;
}

@media (max-width: 767px) {
  .ficha-tecnica {
    width: 100%;
  }
}

.ficha-tecnica p {
  margin-bottom: 0px;
}

.ficha-tecnica img:first-of-type {
  margin-top: 35px;
}

.concepto {
  clear: both;
  margin-top: 30px;
  margin-bottom: 35px;
}

.concepto p {
  text-align: justify;
}

.concepto img:first-of-type {
  margin-top: 35px;
}

.concepto img {
  margin-bottom: 35px;
}

.concepto .span1 {
  color: hotpink;
}

.videos {
  margin-top: 35px;
  margin-bottom: 35px;
  clear: both;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.videos iframe, .videos object, .videos embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.portada-disco {
  width: 50%;
  margin: auto;
  height: auto;
  padding: 15px;
}

.portada-videoclub {
  width: 50%;
  margin: auto;
  height: auto;
  padding: 15px;
}

.social {
  margin-bottom: 30px;
}

.social li {
  display: inline-block;
  margin: 15px;
}

.social li a:hover path, .social li a:focus path {
  fill: #ff83c1;
}
